Hello World
<!--
<%= @table.to_s %>

<ul>
<% @players.each do |id| %>
    <li><%= id %></li>
<% end %>
</ul>
<br></br> -->




<ul>
    <% num = 1 %>
  <% @table.each do |round| %>


    <li>
      <%= "Round #{num}" %>
      <% round.each do |matchup| %>
        <input type="submit" value=<%= matchup[0] %> >
        vs
        <input type="submit" name="winner" value=<%= matchup[1] %> action='/table' method='POST'>
        <span width=20px></span>
        <% end %>
    </li>
    <% num += 1 %>
  <% end %>
</ul>
